<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base/head :: head(title=${title})}">
<!--    'CyberLab - Educational Cyber Polygon-->
    <title>Sections Layout</title>
</head>
<body>
<header th:replace="~{base/header :: ${header}}"></header>

<div th:each="template : ${templates}">
    <div th:replace="~{${template[0]} :: ${template[1]}}"></div>
</div>

<footer th:replace="~{base/footer :: ${footer}}"></footer>
<script th:src="@{/js/main.js}"></script>
</body>
</html>