/* Responsive */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .hero-content {
        margin: 2rem auto;
    }

    .cta-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .btn-secondary {
        margin-left: 0;
    }

    /*.scenario-filters {*/
    /*    justify-content: center;*/
    /*    padding: 0 20px;*/
    /*}*/

    /*.scenario-selects {*/
    /*    justify-content: center;*/
    /*}*/
}