.release-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.release-card h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.release-card .tag {
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
    display: inline-block;
    translate: 0 -3px;
}

.release-card .date,
.release-card .notes,
.release-card .size {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: var(--gray-color);
}

.release-card.pre-release .tag {
    background-color: #f0ad4e;
}

.release-card.legacy .tag {
    background-color: #6c757d;
}

.release-card.latest .tag {
    background-color: var(--secondary-color);
}

.release-card .btn-primary:hover {
    transform: none;
}