<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head(title='CyberLab Documentation — Installation & Integration', page=${page}, meta=${meta})}">
    <title>CyberLab Documentation — Installation & Integration</title>
</head>
<body>
<header th:replace="~{layout :: navigation}"></header>

<main class="content">
    <section class="faq-section" style="padding: 8rem 20px 5rem">
        <div class="container">
            <h2>Docs</h2>
            <div class="faq-grid">
                <div th:each="item, iterStat : ${docItems}" class="faq-item" th:attr="data-index=${iterStat.index}">
                    <div class="faq-question">
                        <span th:text="${item.question}">Question</span>
                        <span class="faq-toggle">▾</span>
                    </div>
                    <div th:utext="${item.answer}" class="faq-answer instructions">Answer</div>
                </div>
            </div>
        </div>

    </section>

</main>

<footer th:replace="~{layout :: footer}"></footer>

<script>
    document.querySelectorAll('.faq-item').forEach(item => {
        item.addEventListener('click', () => {
            document.querySelectorAll('.faq-item').forEach(i => {
                if (i !== item) i.classList.remove('active');
            });
            item.classList.toggle('active');
        });
    });

    window.addEventListener('scroll', () => {
        document.querySelectorAll('.faq-item').forEach(item => item.classList.remove('active'))
    })
</script>

<script th:replace="~{layout :: scripts}"></script>
</body>
</html>