<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base/head :: head(title='CyberLab - Educational Cyber Polygon')}">
    <title>CyberLab - Educational Cyber Polygon</title>
</head>
<body>
<header th:replace="~{base/header :: main-header}"></header>

<th:block th:if="${sections['features']}">
    <section
            th:replace="~{fragments/main/features :: features(
            title=${sections['features'].title},
            features=${sections['features'].items}
        )}"
            id="features"
    ></section>
</th:block>

<th:block th:if="${sections['about']}">
    <section
            th:replace="~{fragments/main/about :: about(
                title=${sections['about'].title},
                subtitle=${sections['about'].subtitle},
                image=${sections['about'].image},
                aboutItems=${sections['about'].items}
            )}"
            id="about"
    ></section>
</th:block>

<th:block th:if="${sections['clmt']}">
    <section
            th:replace="~{fragments/main/clmt :: clmt(
                title=${sections['clmt'].title},
                subtitle=${sections['clmt'].subtitle},
                clmtFeatures=${sections['clmt'].clmtFeatures},
                codeSamples=${sections['clmt'].codeSamples}
            )}"
            id="clmt"
    ></section>
</th:block>

<th:block th:if="${sections['requirements']}">
    <section
            th:replace="~{fragments/main/requirements :: requirements(
                title=${sections['requirements'].title},
                table=${sections['requirements'].table}
            )}"
            id="requirements"
    ></section>
</th:block>

<th:block th:if="${sections['cta']}">
    <section class="cta">
        <div class="container">
            <h2 th:text="${sections['cta'].title}">CTA Title</h2>
            <p th:text="${sections['cta'].subtitle}">CTA Subtitle</p>
            <a th:href="@{/download}" th:text="${sections['cta'].downloadLabel}" class="btn-primary">CTA Link Label</a>
        </div>
    </section>
</th:block>

<footer th:replace="~{base/footer :: main-footer}"></footer>

<script th:src="@{/js/main.js}"></script>
</body>
</html>