<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head(title='CyberLab - Training Scenarios', page=${page})}">
    <title>CyberLab - Training Scenarios</title>
</head>
<body th:attr="data-scenario-id=${scenario.id}, data-current-step=${currentStep}, data-total-steps=${totalSteps}">

<header th:replace="~{layout :: navigation}"></header>

<main class="content">
    <div class="container" id="scenario-container">
        <div class="container__wrapper" style="padding-top: 1.5rem;">
            <header>
                <h2 id="scenario-title" th:text="${scenario.title}">Scenario Title</h2>
                <span class="badge difficulty badge-medium"
                      th:classappend="'badge-' + ${scenario.getLowerDifficulty()}"
                      th:text="${scenario.getCapitalizedDifficulty()}"
                >Scenario Difficulty</span>
            </header>

            <p id="scenario-description"
               class="section-description"
               style="text-align: left"
               th:text="${scenario.description}"
            >Scenario Description</p>

            <div id="scenario-tags" style="margin-bottom:2rem;">
                <th:block th:each="at : ${scenario.attackTypes}">
                    <span class="tag"
                          th:text="${at.label}"
                    >Scenario Tag</span>
                </th:block>
            </div>

            <p class="steps"
               th:text="'Progress: ' + ${currentStep} + ' of ' + ${totalSteps} + ' steps completed'"
            >Scenario Steps</p>

            <th:block th:if="${!scenarioIsStarted}">
                <button class="btn-primary" id="start-btn">Start Scenario</button>
            </th:block>

            <div th:if="${scenarioIsStarted}" class="scenario-actions">
                <button class="btn-primary" id="continue-btn">Continue Scenario</button>
                <button class="btn-secondary" id="restart-btn">Restart Scenario</button>
            </div>
        </div>

    </div>
</main>

<footer th:replace="~{layout :: footer}"></footer>

<script type="module" th:src="@{/js/custom/scenario-execution.js}" defer></script>
<script th:replace="~{layout :: scripts}"></script>

</body>
</html>